<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0d</key>
            <dict>
                <key>frame</key>
                <string>{{658,2625},{94,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>0u</key>
            <dict>
                <key>frame</key>
                <string>{{302,3879},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>1d</key>
            <dict>
                <key>frame</key>
                <string>{{680,3620},{50,172}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{50,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>1u</key>
            <dict>
                <key>frame</key>
                <string>{{1540,133},{32,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{32,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>2d</key>
            <dict>
                <key>frame</key>
                <string>{{773,3299},{92,172}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{92,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>2u</key>
            <dict>
                <key>frame</key>
                <string>{{599,3299},{92,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>3d</key>
            <dict>
                <key>frame</key>
                <string>{{848,2625},{92,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>3u</key>
            <dict>
                <key>frame</key>
                <string>{{754,2625},{92,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>4d</key>
            <dict>
                <key>frame</key>
                <string>{{202,3879},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>4u</key>
            <dict>
                <key>frame</key>
                <string>{{102,3879},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>5d</key>
            <dict>
                <key>frame</key>
                <string>{{584,3669},{94,172}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{94,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>5u</key>
            <dict>
                <key>frame</key>
                <string>{{488,3669},{94,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>6d</key>
            <dict>
                <key>frame</key>
                <string>{{2,3879},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>6u</key>
            <dict>
                <key>frame</key>
                <string>{{558,2625},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>7d</key>
            <dict>
                <key>frame</key>
                <string>{{942,2625},{88,172}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>7u</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2625},{80,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>8d</key>
            <dict>
                <key>frame</key>
                <string>{{458,2625},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>8u</key>
            <dict>
                <key>frame</key>
                <string>{{358,2625},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>9d</key>
            <dict>
                <key>frame</key>
                <string>{{390,3669},{96,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>9u</key>
            <dict>
                <key>frame</key>
                <string>{{1947,2},{98,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,172}}</string>
                <key>sourceSize</key>
                <string>{98,172}</string>
            </dict>
            <key>CA4Pic</key>
            <dict>
                <key>frame</key>
                <string>{{732,3731},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>ball</key>
            <dict>
                <key>frame</key>
                <string>{{180,2625},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{176,176}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>ballFire</key>
            <dict>
                <key>frame</key>
                <string>{{2,2625},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{176,176}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>ballSmall</key>
            <dict>
                <key>frame</key>
                <string>{{810,3731},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{76,76}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>boardLeft</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{63,1943}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,1943}}</string>
                <key>sourceSize</key>
                <string>{71,1943}</string>
            </dict>
            <key>boardLower</key>
            <dict>
                <key>frame</key>
                <string>{{2,2570},{1536,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,53}}</string>
                <key>sourceSize</key>
                <string>{1536,53}</string>
            </dict>
            <key>boardLowerDissapear</key>
            <dict>
                <key>frame</key>
                <string>{{2,2515},{1536,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,53}}</string>
                <key>sourceSize</key>
                <string>{1536,53}</string>
            </dict>
            <key>boardLowerSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{2,2460},{1536,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,53}}</string>
                <key>sourceSize</key>
                <string>{1536,53}</string>
            </dict>
            <key>boardLowerWider</key>
            <dict>
                <key>frame</key>
                <string>{{2,2405},{1536,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,53}}</string>
                <key>sourceSize</key>
                <string>{1536,53}</string>
            </dict>
            <key>boardRight</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,1943}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,1943}}</string>
                <key>sourceSize</key>
                <string>{64,1943}</string>
            </dict>
            <key>boardUpper</key>
            <dict>
                <key>frame</key>
                <string>{{2,2183},{1536,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,55}}</string>
                <key>sourceSize</key>
                <string>{1536,55}</string>
            </dict>
            <key>boardUpperDissapear</key>
            <dict>
                <key>frame</key>
                <string>{{2,2350},{1536,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,53}}</string>
                <key>sourceSize</key>
                <string>{1536,53}</string>
            </dict>
            <key>boardUpperSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{2,2295},{1536,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,53}}</string>
                <key>sourceSize</key>
                <string>{1536,53}</string>
            </dict>
            <key>boardUpperWider</key>
            <dict>
                <key>frame</key>
                <string>{{2,2240},{1536,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,53}}</string>
                <key>sourceSize</key>
                <string>{1536,53}</string>
            </dict>
            <key>gravityCenter</key>
            <dict>
                <key>frame</key>
                <string>{{2018,176},{20,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,2048}}</string>
                <key>sourceSize</key>
                <string>{20,2048}</string>
            </dict>
            <key>itemBallFaster</key>
            <dict>
                <key>frame</key>
                <string>{{1112,3258},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemBallSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{1083,3847},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemBallSucked</key>
            <dict>
                <key>frame</key>
                <string>{{1083,3620},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemBoardBigger</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2804},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemBoardSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{1053,3031},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemFireBall</key>
            <dict>
                <key>frame</key>
                <string>{{885,3393},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemFreezeBoard</key>
            <dict>
                <key>frame</key>
                <string>{{856,3809},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemSplit10</key>
            <dict>
                <key>frame</key>
                <string>{{867,2804},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemSplit2</key>
            <dict>
                <key>frame</key>
                <string>{{826,3072},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemTableDissapear</key>
            <dict>
                <key>frame</key>
                <string>{{658,3393},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemTableSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{599,3072},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemTableWider</key>
            <dict>
                <key>frame</key>
                <string>{{629,3843},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>itemThunder</key>
            <dict>
                <key>frame</key>
                <string>{{402,3843},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>magic1</key>
            <dict>
                <key>frame</key>
                <string>{{269,3401},{476,119}}</string>
                <key>offset</key>
                <string>{0,-461}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,922},{476,119}}</string>
                <key>sourceSize</key>
                <string>{476,1041}</string>
            </dict>
            <key>magic2</key>
            <dict>
                <key>frame</key>
                <string>{{2,3401},{476,265}}</string>
                <key>offset</key>
                <string>{0,-388}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,776},{476,265}}</string>
                <key>sourceSize</key>
                <string>{476,1041}</string>
            </dict>
            <key>magic3</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2395},{476,407}}</string>
                <key>offset</key>
                <string>{0,-317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,634},{476,407}}</string>
                <key>sourceSize</key>
                <string>{476,1041}</string>
            </dict>
            <key>magic4</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1876},{476,517}}</string>
                <key>offset</key>
                <string>{0,-262}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,524},{476,517}}</string>
                <key>sourceSize</key>
                <string>{476,1041}</string>
            </dict>
            <key>magic5</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1219},{476,655}}</string>
                <key>offset</key>
                <string>{0,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,386},{476,655}}</string>
                <key>sourceSize</key>
                <string>{476,1041}</string>
            </dict>
            <key>magic6</key>
            <dict>
                <key>frame</key>
                <string>{{1540,176},{476,1041}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,1041}}</string>
                <key>sourceSize</key>
                <string>{476,1041}</string>
            </dict>
            <key>nothing</key>
            <dict>
                <key>frame</key>
                <string>{{2043,176},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>pureBackground</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{1536,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1536,2048}}</string>
                <key>sourceSize</key>
                <string>{1536,2048}</string>
            </dict>
            <key>user_board</key>
            <dict>
                <key>frame</key>
                <string>{{599,2804},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>user_boardBigger</key>
            <dict>
                <key>frame</key>
                <string>{{2,2804},{595,595}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{595,595}}</string>
                <key>sourceSize</key>
                <string>{607,607}</string>
            </dict>
            <key>user_boardFreezed</key>
            <dict>
                <key>frame</key>
                <string>{{390,3401},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>user_boardSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{732,3620},{109,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{109,109}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>whitePixel</key>
            <dict>
                <key>frame</key>
                <string>{{2040,176},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture-hd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a544c4ebc95525abeef39616cf27a474$</string>
            <key>textureFileName</key>
            <string>texture-hd.png</string>
        </dict>
    </dict>
</plist>
