<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0d</key>
            <dict>
                <key>frame</key>
                <string>{{388,1937},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>0u</key>
            <dict>
                <key>frame</key>
                <string>{{341,1849},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>1d</key>
            <dict>
                <key>frame</key>
                <string>{{299,1380},{25,86}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{25,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>1u</key>
            <dict>
                <key>frame</key>
                <string>{{772,70},{17,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{17,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>2d</key>
            <dict>
                <key>frame</key>
                <string>{{387,1329},{47,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>2u</key>
            <dict>
                <key>frame</key>
                <string>{{439,1937},{47,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>3d</key>
            <dict>
                <key>frame</key>
                <string>{{441,1417},{45,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>3u</key>
            <dict>
                <key>frame</key>
                <string>{{441,1329},{45,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{45,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>4d</key>
            <dict>
                <key>frame</key>
                <string>{{337,1937},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>4u</key>
            <dict>
                <key>frame</key>
                <string>{{290,1849},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>5d</key>
            <dict>
                <key>frame</key>
                <string>{{392,1849},{47,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>5u</key>
            <dict>
                <key>frame</key>
                <string>{{286,1937},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>6d</key>
            <dict>
                <key>frame</key>
                <string>{{239,1849},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>6u</key>
            <dict>
                <key>frame</key>
                <string>{{235,1937},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>7d</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{45,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>7u</key>
            <dict>
                <key>frame</key>
                <string>{{718,1329},{41,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>8d</key>
            <dict>
                <key>frame</key>
                <string>{{188,1849},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>8u</key>
            <dict>
                <key>frame</key>
                <string>{{184,1937},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>9d</key>
            <dict>
                <key>frame</key>
                <string>{{137,1849},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>9u</key>
            <dict>
                <key>frame</key>
                <string>{{299,1329},{49,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,86}}</string>
                <key>sourceSize</key>
                <string>{49,86}</string>
            </dict>
            <key>CA4Pic</key>
            <dict>
                <key>frame</key>
                <string>{{343,1647},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ball</key>
            <dict>
                <key>frame</key>
                <string>{{93,1954},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{89,89}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>ballFire</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{89,89}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>ballSmall</key>
            <dict>
                <key>frame</key>
                <string>{{302,1647},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{39,39}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>boardLeft</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,972}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,972}}</string>
                <key>sourceSize</key>
                <string>{36,972}</string>
            </dict>
            <key>boardLower</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{768,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,27}}</string>
                <key>sourceSize</key>
                <string>{768,27}</string>
            </dict>
            <key>boardLowerDissapear</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{768,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,27}}</string>
                <key>sourceSize</key>
                <string>{768,27}</string>
            </dict>
            <key>boardLowerSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{768,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,27}}</string>
                <key>sourceSize</key>
                <string>{768,27}</string>
            </dict>
            <key>boardLowerWider</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{768,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,27}}</string>
                <key>sourceSize</key>
                <string>{768,27}</string>
            </dict>
            <key>boardRight</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,972}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,972}}</string>
                <key>sourceSize</key>
                <string>{32,972}</string>
            </dict>
            <key>boardUpper</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{768,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,28}}</string>
                <key>sourceSize</key>
                <string>{768,28}</string>
            </dict>
            <key>boardUpperDissapear</key>
            <dict>
                <key>frame</key>
                <string>{{2,1184},{768,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,27}}</string>
                <key>sourceSize</key>
                <string>{768,27}</string>
            </dict>
            <key>boardUpperSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{2,1155},{768,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,27}}</string>
                <key>sourceSize</key>
                <string>{768,27}</string>
            </dict>
            <key>boardUpperWider</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{768,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,27}}</string>
                <key>sourceSize</key>
                <string>{768,27}</string>
            </dict>
            <key>gravityCenter</key>
            <dict>
                <key>frame</key>
                <string>{{1012,90},{10,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1024}}</string>
                <key>sourceSize</key>
                <string>{10,1024}</string>
            </dict>
            <key>itemBallFaster</key>
            <dict>
                <key>frame</key>
                <string>{{647,1444},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemBallSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{637,1559},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemBallSucked</key>
            <dict>
                <key>frame</key>
                <string>{{532,1444},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemBoardBigger</key>
            <dict>
                <key>frame</key>
                <string>{{556,1735},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemBoardSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{488,1877},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemFireBall</key>
            <dict>
                <key>frame</key>
                <string>{{522,1620},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemFreezeBoard</key>
            <dict>
                <key>frame</key>
                <string>{{441,1762},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemSplit10</key>
            <dict>
                <key>frame</key>
                <string>{{417,1505},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemSplit2</key>
            <dict>
                <key>frame</key>
                <string>{{407,1647},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemTableDissapear</key>
            <dict>
                <key>frame</key>
                <string>{{302,1532},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemTableSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{603,1329},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemTableWider</key>
            <dict>
                <key>frame</key>
                <string>{{302,1417},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>itemThunder</key>
            <dict>
                <key>frame</key>
                <string>{{488,1329},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>magic1</key>
            <dict>
                <key>frame</key>
                <string>{{2,1329},{238,61}}</string>
                <key>offset</key>
                <string>{0,-230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,460},{238,61}}</string>
                <key>sourceSize</key>
                <string>{238,521}</string>
            </dict>
            <key>magic2</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{238,133}}</string>
                <key>offset</key>
                <string>{0,-194}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,388},{238,133}}</string>
                <key>sourceSize</key>
                <string>{238,521}</string>
            </dict>
            <key>magic3</key>
            <dict>
                <key>frame</key>
                <string>{{772,1205},{238,205}}</string>
                <key>offset</key>
                <string>{0,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,316},{238,205}}</string>
                <key>sourceSize</key>
                <string>{238,521}</string>
            </dict>
            <key>magic4</key>
            <dict>
                <key>frame</key>
                <string>{{772,944},{238,259}}</string>
                <key>offset</key>
                <string>{0,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,262},{238,259}}</string>
                <key>sourceSize</key>
                <string>{238,521}</string>
            </dict>
            <key>magic5</key>
            <dict>
                <key>frame</key>
                <string>{{772,613},{238,329}}</string>
                <key>offset</key>
                <string>{0,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,192},{238,329}}</string>
                <key>sourceSize</key>
                <string>{238,521}</string>
            </dict>
            <key>magic6</key>
            <dict>
                <key>frame</key>
                <string>{{772,90},{238,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,521}}</string>
                <key>sourceSize</key>
                <string>{238,521}</string>
            </dict>
            <key>nothing</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1116},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>pureBackground</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>user_board</key>
            <dict>
                <key>frame</key>
                <string>{{272,1714},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>user_boardBigger</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{298,300}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{298,300}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>user_boardFreezed</key>
            <dict>
                <key>frame</key>
                <string>{{137,1714},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>user_boardSmaller</key>
            <dict>
                <key>frame</key>
                <string>{{242,1329},{55,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{55,55}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>whitePixel</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1116},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:762514288b629d88850b36e03226f2aa$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
